* {
    box-sizing: border-box;
    overflow: hidden;
    color: #d3d5d1;
}

body {
    font-family: Verdana, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    background-color: #4c5945;
}

a {
    color: #d3d5d1;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

header, main { /*Estilo de contenedores principales*/
    margin-bottom: 1em;
}

.borde_activo {
    border-top: 2px #31382a solid;
    border-left: 2px #31382a solid;
    border-bottom: 2px #737770 solid;
    border-right: 2px #737770 solid;
    background-color: #3f4737;
}

.borde_inactivo {
    border-top: 2px #737770 solid;
    border-left: 2px #737770 solid;
    border-bottom: 2px #31382a solid;
    border-right:  2px #31382a solid;
    background-color: #4c5945;
}

.navtop {
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.navtop__links a {
    font-weight: bold;
}

.navtop__links a:hover {
    color: #4c5945;
    background: #d3d5d1;
}

.navtop__logo {
    max-width: 12em;
    width: auto;
}

.navtop__logo a { /*Estilo del logo indice*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navtop__logo a:hover {
    background-color: transparent;
}

.navtop__icon {
    width: 40%;
    height: 40%;
    margin: 0.5em
}

.navtop__icontext {
    margin: 0.5em;
    width: auto;
    color: black;
}

.navtop__links {
    display: flex;
    margin: auto 0.5em 0 0.5em;
}

.navtop__link {
    margin: 0.5em;
    padding: 4px;
}

.navtop__form {
    margin: 0.5em auto 0.5em auto;
}

.navtop__form form {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.navtop__form .buscar {
    font-family: inherit;
    background-color: inherit;
    height: 2em;
    outline: none; /*Borde al seleccionar search*/
}

.navtop__form .buscar::placeholder {
    color:inherit;
}

.navtop__form .buscar::-webkit-search-cancel-button {
    display: none;
}

.navtop__form .boton {
    height: 20px;
    width: auto;
    padding: 0 0.5em 0 0.5em;
}

.navtop__myprofile {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.navtop__myprofile a {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.navtop__myprofile__text {
    padding: 3px;
    border-top: 2px #737770 solid;
    border-left: 2px #737770 solid;
    border-bottom: 2px #31382a solid;
    border-right:  2px #31382a solid;
    background-color: #4c5945;
}

.navtop__myprofile__text:hover {
    border-top: 2px #31382a solid;
    border-left: 2px #31382a solid;
    border-bottom: 2px #737770 solid;
    border-right: 2px #737770 solid;
    background-color: #3f4737;
    font-weight:initial;
}

.navtop__myprofile img {
    height: 40px;
}

footer { /*Deja al footer siempre en el borde inferior de la pagina*/
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.navbot {
    padding: 1em;
    display: flex;
    align-items: center;
}

.navbot__links {
    position: absolute;
    left: 0.5em;;
}

.navbot__iconlinks {
    position: absolute;
    right: 0.5em;
}

.navbot__iconlinks a {
    color: #d3d5d1;
}

p {
    margin: 1em;
}

main {
    display: flex;
}

.sidebar__top {
    
    width: 100%;
}

.sidebar__left {
    
    width: 33%;
}

.main__content {
    width: 33%;
}

.sidebar__right {
    
    width: 33%;
}

.sidebar__bottom {

    width: 33%;
}